/* STYLE SENPAI UI */
/* .about-single i {
    font-size: 82px!important;
} */

i.large {
    font-size: 6rem;
}

.nospace {
  padding:0px!important;
  margin: 0px!important;
}

.container-kill {
  padding:0px!important;
  margin: 0px!important;
}
.align-middle {
  vertical-align: middle!important;
}


.center-block {
display: block;
margin-right: auto;
margin-left: auto
}

.pull-right {
float: right !important
}

.pull-left {
float: left !important
}

.hide {
display: none !important
}

.show {
display: block !important
}

.invisible {
visibility: hidden
}

.text-hide {
font: 0/0 a;
color: transparent;
text-shadow: none;
background-color: transparent;
border: 0
}

.hidden {
display: none !important
}

.affix {
position: fixed
}

@-ms-viewport {
width: device-width
}

.visible-lg,
.visible-md,
.visible-sm,
.visible-xs {
display: none !important
}

.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block {
display: none !important
}

@media (max-width:767px) {
.visible-xs {
  display: block !important
}
table.visible-xs {
  display: table !important
}
tr.visible-xs {
  display: table-row !important
}
td.visible-xs,
th.visible-xs {
  display: table-cell !important
}
}

@media (max-width:767px) {
.visible-xs-block {
  display: block !important
}
}

@media (max-width:767px) {
.visible-xs-inline {
  display: inline !important
}
}

@media (max-width:767px) {
.visible-xs-inline-block {
  display: inline-block !important
}
}

@media (min-width:768px) and (max-width:991px) {
.visible-sm {
  display: block !important
}
table.visible-sm {
  display: table !important
}
tr.visible-sm {
  display: table-row !important
}
td.visible-sm,
th.visible-sm {
  display: table-cell !important
}
}

@media (min-width:768px) and (max-width:991px) {
.visible-sm-block {
  display: block !important
}
}

@media (min-width:768px) and (max-width:991px) {
.visible-sm-inline {
  display: inline !important
}
}

@media (min-width:768px) and (max-width:991px) {
.visible-sm-inline-block {
  display: inline-block !important
}
}

@media (min-width:992px) and (max-width:1199px) {
.visible-md {
  display: block !important
}
table.visible-md {
  display: table !important
}
tr.visible-md {
  display: table-row !important
}
td.visible-md,
th.visible-md {
  display: table-cell !important
}
}

@media (min-width:992px) and (max-width:1199px) {
.visible-md-block {
  display: block !important
}
}

@media (min-width:992px) and (max-width:1199px) {
.visible-md-inline {
  display: inline !important
}
}

@media (min-width:992px) and (max-width:1199px) {
.visible-md-inline-block {
  display: inline-block !important
}
}

@media (min-width:1200px) {
.visible-lg {
  display: block !important
}
table.visible-lg {
  display: table !important
}
tr.visible-lg {
  display: table-row !important
}
td.visible-lg,
th.visible-lg {
  display: table-cell !important
}
}

@media (min-width:1200px) {
.visible-lg-block {
  display: block !important
}
}

@media (min-width:1200px) {
.visible-lg-inline {
  display: inline !important
}
}

@media (min-width:1200px) {
.visible-lg-inline-block {
  display: inline-block !important
}
}

@media (max-width:767px) {
.hidden-xs {
  display: none !important
}
}

@media (min-width:768px) and (max-width:991px) {
.hidden-sm {
  display: none !important
}
}

@media (min-width:992px) and (max-width:1199px) {
.hidden-md {
  display: none !important
}
}

@media (min-width:1200px) {
.hidden-lg {
  display: none !important
}
}

.visible-print {
display: none !important
}

@media print {
.visible-print {
  display: block !important
}
table.visible-print {
  display: table !important
}
tr.visible-print {
  display: table-row !important
}
td.visible-print,
th.visible-print {
  display: table-cell !important
}
}

.visible-print-block {
display: none !important
}

@media print {
.visible-print-block {
  display: block !important
}
}

.visible-print-inline {
display: none !important
}

@media print {
.visible-print-inline {
  display: inline !important
}
}

.visible-print-inline-block {
display: none !important
}

@media print {
.visible-print-inline-block {
  display: inline-block !important
}
}

@media print {
.hidden-print {
  display: none !important
}
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
color: #f1f1f1!important;
}

.nav-bg .navbar-nav .nav-link {
color: #fff !important;
}

.nav-bg {
background: #062849!important;
}

.navbar li.active a.nav-link {
color: #bdbdbd!important;
}

.slicknav_menu ul {
background: #062849!important;
}
.slicknav_nav {
color: #fff!important; 
}
.slicknav_nav a { 
color: #fff;
}

.slicknav_menu .slicknav_icon-bar {
background: #ffffff;
}
.slicknav_btn {
border-color: #ffffff;
}

html,body {
overflow: -moz-scrollbars-vertical;
overflow-x: hidden;
overflow-y: auto;
}

@media screen and (max-width: 768px){
    .slicknav_nav a:hover, .slicknav_nav .active {
    font-weight: bold;
    color: #ffffff;
    }
}

/** DEVICE XS **/

@media (max-width: 320px) {
    .title-hero h1 {
    font-size: 37px!important;
    margin-bottom: 29px;
    }

    .h1, h1 {
    font-size: 1.5rem!important;
    }

    .h2, h2 {
    font-size: 23px!important;
    }
}

@media (min-width: 1440px) {
    .title-hero h1 {
    font-size: 37px!important;
    margin-bottom: 29px;
    }

    .h1, h1 {
    font-size: 44px!important;
    }

    .h2, h2 {
    font-size: 44px!important;
    }
}


/* width */
::-webkit-scrollbar {
width: 5px;
height:5px
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

/*# sourceMappingURL=bootstrap.min.css.map */

.slider-left { 
   position: relative;
   top: 59px;
   right: 126px;
}


.slider-right { 
   position: relative;
   top: 16px;
   left: -14px;
}

 .slider-left .hero-heading {
     color:#888;
 } 
 .slider-left .hero-sub-heading  {
     color:#666;
 }
  .slider-left  a {
     color:#5555;
 }

 .slider-left .hero-heading {
     color:#5555;
 }

.simg1 {
 margin: 0px auto;
 margin-top: 28px;
 margin-left: 45px;
 }

 .simg2 {
   right: -26px;
   top: 114px;
   position: absolute!important;
   max-width: 21%;
   margin: 1px auto;
 }

 .spaceup { 
     position: relative;
     top: -127px;
 }

 .bg-hero {
   background: url(https://lh3.googleusercontent.com/VpFuGbx7hGWDoKpj3bDroD19pO6Rowx9VRdss22KWtmbxpJDOHXjKNkDXjzZw6AEgg1VrlZyPrLkkeOObD0=s1600);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   overflow: hidden;
   position: relative;
 }

 .bg-iss {
   background-color: #062849!important;
   color:#FFF!important
 }

 .bg-iss:hover {
   background-color: #0e5090!important;
   color:#FFF!important
 }


    .title-hero h1 {
        font-size:57px;  
        margin-bottom: 29px;
    }

    .title-hero small {
        font-size:17px;
        color:#ddd;
    }
    .table-search td, .table-search th {
        padding: 0px;
        vertical-align: top;
        border:none!important;
        border-top: 1px solid #e9ecef;
    }
    .table-search .form-group {
        padding: 0px!important;
        margin: 6px!important;
    }
    .btn-search {
      background: #062849!important;
      margin-right: 12px!important;
      color: #FFF!important;
    }

    .c-ecruitment {
      width: 100%!important;
    }

    .td-l-radius {
      padding-left: 7px!important;    
      border-top-left-radius: 11px;
      border-bottom-left-radius: 11px;
    }

    .xsection p {
      font-size: 18px;
      color:#888;
    }

    .c-ecruitment p {
        margin-top: 0;
        margin-bottom: 1rem;
        line-height: 15px;
        margin: 0px; 
        color: #5E5D5D;
        font-size: 12px;
  }

 .form-control-iss {
     width:100%; 
     padding-left: 21px;
    background: #FFF!important;
  }
.img-client .img img{
padding: 21px;
}

.btn-redius {
border-radius:15px!important;
}

.bg-oursleft {
background: url(assets/images/er7.jpg) no-repeat;
background-size: cover;
padding: 53px;
}

.bg-gray { 
    background-color: #f6f6f6!important;
}

.bg-grey {
    background-color: #f4f4f5!important;
}

.form-contact .form-group {
    margin:0px!important;
    padding:0px!important;
}

.form-contact .form-group .form-control {
  background: #FFF!important;
}

.form-contact .form-group label {
   color:#041a31;
}

.img-ourserv img {
left: 109px;
padding-left: 21px;
position: relative;
}
/* .service-single {
right: 0px;
top: 0px;
position: relative;
vertical-align: middle!important;
} */
.service-single h1 {
font-size: 21px;
font-size: 44px;
}
.service-single p {
font-size: 17px;
color:#888;
}


.title-iss {
color:#062849;
}


.blockuote {
font-style: italic;
font-size: 61px;
font-family: fangsong;
color: #062949;
font-weight: bold;
}

.testi-description h3 {
font-size: 21px;
color:#062949;
}

.item-cloud {
padding-left: 21px;
}
.testi-description p { 
color:#888;
}

.testi-description small {
color:#888;
font-size: 14px;
}

/* CSS FOOTER  */
.page-footer {
background: #062849!important;
}
.page-footer .footer-title {
color: #e8ebed!important;
}

.page-footer .widget  ul li a {
line-height: 2.2em;
color: #e8ebed!important;
font-size: 17px;
}


.page-footer .widget ul li::before {
content: "\2022";
font-size: 20px;
color: #e8ebed!important;
font-weight: bold;
display: inline-block;
width: 1em;
margin-left: -1em;
}

.footer-contact-widget p {
  color: #545353!important;
}
.page-footer .recent-widget p a {
color: #2a2a2f!important;
}
.page-footer .link-widget ul li a {
color: #616161!important;
}
.footer-copyright { 
background: #041a31!important;
color: #FFF!important;
}
.page-footer p {
color: #e8ebed!important; 
}

.footer-widget-container {
border-top: 4px solid #ffffff!important;
}
.foot-linkbar {
margin-top:21px;
border-top: 2px solid #2196f3;
}

.frm-subrek{ 
padding-top: 17px;
margin-top: 53px;
}
.bg-city {
background-color:#f9f9f9;
}

.footer-title-xs { 
color: #e8ebed!important;
font-size: 12px;
margin: 0px!important;
}

.navbar li.active a.nav-link {
    color: #c9c4c4!important;
    font-size: 15px;
}

.mt-9 {
    margin-top: 71px;
}

.p-history {
    font-size: 8px;
}

.title-iss2 {
    color: #062849;
    font-size: 27px;
}

.c-ecruitment2 p {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 29px;
    margin: 0px;
    color: #5E5D5D;
    font-size: 20px;
}

@media (max-width: 320px){

    .grid-iss {
        padding:5px; 
    }

    .card-body {
        padding:0px!important;
    }

    .c-h5 {
        margin: 0px;
        font-size: 15px!important;
    }
    .c-span {
        color: #888;
        font-size: 8px;
    }

    .p-5 {
        padding: 1rem!important;
    }
}

@media (max-width: 375px){

    .grid-iss {
        padding:5px; 
    }

    .card-body {
        padding:0px!important;
    }

    .c-h5 {
        margin: 0px;
        font-size: 15px!important;
    }
    .c-span {
        color: #888;
        font-size: 8px;
    }
}

@media (max-width: 425px){

    .grid-iss {
        padding:5px; 
    }

    .card-body {
        padding:0px!important;
    }

    .c-h5 {
        margin: 0px;
        font-size: 15px!important;
    }
    .c-span {
        color: #888;
        font-size: 8px;
    }
}

@media (max-width: 768px){

    .grid-iss {
        padding:5px; 
    }

    .card-body {
        padding:0px!important;
    }

    .c-h5 {
        margin: 0px;
        font-size: 15px!important;
    }
    .c-span {
        color: #888;
        font-size: 8px!important;
    }
}

body {
    background-color: #fafafa!important;
}

.mt-7 {
    margin-top: 5rem!important;
}

.nospace {
    margin:0px!important;
    padding:0px!important;
}

.nokandel {
    margin:0px!important;
    padding:0px!important;
}

.c-h5 {
    color:#041a31;
}

.c-h5-lg {
    color:#041a31;
    font-size: 36px!important;
}

.c-p {
   font-size: 15px;
}

.c-p-lg {
    font-size: 21px!important;
    line-height: 29px!important;
}

.c-small {
   
}

.c-small-lg {
    font-size: 20px!important;
    line-height: 29px!important;
}

.c-span { 
    color:#888;
    font-size: 12px;
}

.c-span-lg {
    font-size: 15px!important;
}

i.fa {
    vertical-align: middle;
}

@media (max-width: 320px){
    .banner {
        overflow: hidden;
        height: 81px;
    }

    .rec-content {
        padding:21px;
    }
}

.nocolor {
    color:#888;
}

.rec-content h5{
    font-size:15px;
}

.rec-content ul li {
    font-size:12px;
}

.rec-content table tr th,td {
    color:#777;
    font-size:12px;
}

.form-search .form-group {
  margin:0px;
}


.dr-left {
  padding:0px;
}

.dr-right {
  padding:0px;
}

/** RESPONSIVE SENPAI UI **/

@media (max-width: 320px){
  .dr-left {
    margin-left: -20px!important;
    padding: 0px!important;
  }

  .dr-right {
    margin-left: -20px!important;
    padding: 0px!important;
  }

  .navbar-brand > img{
    width:20%!important;
  }
}

@media (max-width: 375px){
  .dr-left {
    margin-left: -12px;
    padding: 16px;
  }

  .dr-right {
    margin-left: -12px;
    padding: 16px;
  }
  .navbar-brand > img{
    width:20%!important;
  }
}

@media (max-width: 425px){
  .dr-left {
    margin-left: -12px;
    padding: 16px;
  } 
  .dr-right {
    margin-left: -12px;
    padding: 16px;
  }
  .navbar-brand > img{
    width:20%!important;
  }
  
  
}

@media (max-width: 768px){
  .dr-left {
    padding: 16px;
  }

  .dr-right {
    padding: 16px;
  }
  .navbar-brand > img{
    width:20%!important;
  }
  .c-ecruitment .card-body {
    padding:8px;
  }

}

@media (max-width: 1024px){
  .dr-left {
    padding: 16px;
  }

  .dr-right {
    padding: 16px;
  }

  .c-ecruitment .card-body {
    padding:8px;
  }

}

@media (max-width: 1440px){
  .dr-left {
    margin-top: 14px;
    padding: 8px;
  }

  .dr-right {
    margin-top: 14px;
    padding: 8px;
  }
}


@media (max-width: 2440px){
  .dr-left {
    margin-top: 14px;
    padding: 8px;
  }

  .dr-right {
    margin-top: 14px;
    padding: 8px;
  }
}

@media (max-width: 3440px){
  .dr-left {
    margin-top: 14px;
    padding: 8px;
  }

  .dr-right {
    margin-top: 14px;
    padding: 8px;
  }

  .c-ecruitment .card-title {
      margin: 0px!important;
  }

  .t-Wrp {
    height: 32px;
    overflow: hidden;
  }

  .mdspace {
    padding:4px;
  }



  /*** LOGIN STYLE ***/

  