/* STYLE SENPAI UI - Andri MF */
/* .about-single i {
    font-size: 82px!important;
} */

i.large {
  font-size: 6rem
}

.nospace {
  padding: 0px !important;
  margin: 0px !important
}

.container-kill {
  padding: 0px !important;
  margin: 0px !important
}

.align-middle {
  vertical-align: middle !important
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto
}

.pull-right {
  float: right !important
}

.pull-left {
  float: left !important
}

.hide {
  display: none !important
}

.show {
  display: block !important
}

.invisible {
  visibility: hidden
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0
}

.hidden {
  display: none !important
}

.affix {
  position: fixed
}

@-ms-viewport {
  width: device-width
}

.visible-lg,
.visible-md,
.visible-sm,
.visible-xs {
  display: none !important
}

.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block {
  display: none !important
}

@media (max-width:767px) {
  .visible-xs {
      display: block !important
  }
  table.visible-xs {
      display: table !important
  }
  tr.visible-xs {
      display: table-row !important
  }
  td.visible-xs,
  th.visible-xs {
      display: table-cell !important
  }
}

@media (max-width:767px) {
  .visible-xs-block {
      display: block !important
  }
}

@media (max-width:767px) {
  .visible-xs-inline {
      display: inline !important
  }
}

@media (max-width:767px) {
  .visible-xs-inline-block {
      display: inline-block !important
  }
}

@media (min-width:768px) and (max-width:991px) {
  .visible-sm {
      display: block !important
  }
  table.visible-sm {
      display: table !important
  }
  tr.visible-sm {
      display: table-row !important
  }
  td.visible-sm,
  th.visible-sm {
      display: table-cell !important
  }
}

@media (min-width:768px) and (max-width:991px) {
  .visible-sm-block {
      display: block !important
  }
}

@media (min-width:768px) and (max-width:991px) {
  .visible-sm-inline {
      display: inline !important
  }
}

@media (min-width:768px) and (max-width:991px) {
  .visible-sm-inline-block {
      display: inline-block !important
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .visible-md {
      display: block !important
  }
  table.visible-md {
      display: table !important
  }
  tr.visible-md {
      display: table-row !important
  }
  td.visible-md,
  th.visible-md {
      display: table-cell !important
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .visible-md-block {
      display: block !important
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .visible-md-inline {
      display: inline !important
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .visible-md-inline-block {
      display: inline-block !important
  }
}

@media (min-width:1200px) {
  .visible-lg {
      display: block !important
  }
  table.visible-lg {
      display: table !important
  }
  tr.visible-lg {
      display: table-row !important
  }
  td.visible-lg,
  th.visible-lg {
      display: table-cell !important
  }
}

@media (min-width:1200px) {
  .visible-lg-block {
      display: block !important
  }
}

@media (min-width:1200px) {
  .visible-lg-inline {
      display: inline !important
  }
}

@media (min-width:1200px) {
  .visible-lg-inline-block {
      display: inline-block !important
  }
}

@media (max-width:767px) {
  .hidden-xs {
      display: none !important
  }
}

@media (min-width:768px) and (max-width:991px) {
  .hidden-sm {
      display: none !important
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .hidden-md {
      display: none !important
  }
}

@media (min-width:1200px) {
  .hidden-lg {
      display: none !important
  }
}

.visible-print {
  display: none !important
}

@media print {
  .visible-print {
      display: block !important
  }
  table.visible-print {
      display: table !important
  }
  tr.visible-print {
      display: table-row !important
  }
  td.visible-print,
  th.visible-print {
      display: table-cell !important
  }
}

.visible-print-block {
  display: none !important
}

@media print {
  .visible-print-block {
      display: block !important
  }
}

.visible-print-inline {
  display: none !important
}

@media print {
  .visible-print-inline {
      display: inline !important
  }
}

.visible-print-inline-block {
  display: none !important
}

@media print {
  .visible-print-inline-block {
      display: inline-block !important
  }
}

@media print {
  .hidden-print {
      display: none !important;
  }
}
 
.testimonial-item .datils h5 {
  color: #495057
}

.testimonial-item .datils h5 {
  color: #495057
}

.testimonial-item .datils p {
  color: #868e96
}

.social a {
  padding: 3px !important
}

.social .footer-title {
  margin-bottom: 7px !important
}

.bg-falcon {
  background-color:transparent !important;
  border-bottom:2px solid #FFF;
}

.slider-left {
  position: relative;
  top: 59px;
  right: 126px
}

.slider-right {
  position: relative;
  top: 16px;
  left: -14px
}

.slider-left .hero-heading {
  color: #888
}

.slider-left .hero-sub-heading {
  color: #666
}

.slider-left a {
  color: #5555
}

.slider-left .hero-heading {
  color: #5555
}

.simg1 {
  margin: 0 auto;
  margin-top: 28px;
  margin-left: 45px
}

.simg2 {
  right: -26px;
  top: 114px;
  position: absolute !important;
  max-width: 21%;
  margin: 1px auto
}

.spaceup {
  position: relative;
  top: -127px
}

.carousel {
  margin-top: 63px;
  position: relative
}

.navbar li.active a.nav-link {
  background:transparent!important;
  border-bottom:2px solid #FFF;
  /* padding: 18px; */
  color: #DDD!important;
  font-weight: bold;
}

.xsection h1 {
  color: #919191 !important
}

.xsection p {
  color: #a5a5a5;
  font-size: 15px;
}

.Material-about-section .subtitle {
  color: #919191 !important
}

.Material-about-section p {
  color: #a5a5a5
}



.frm-subrek {
  padding-top: 17px;
  margin-top: 53px
}

.bg-city {
  background-color: #f9f9f9
}

.soc-title {
  font: normal normal bold 20px/23px Roboto;
  letter-spacing: 0;
  color: #ff7601 !important;
  font-size: 17px;
  padding: 12px
}

.title-testimoni h1 {
  color: #919191 !important;
  font-size: 49px !important
}

.title-testimoni p {
  font-size: 16px !important;
  color: #5E5D5D !important;
  text-align: center;
  letter-spacing: 0;
  color: #5E5D5D
}

.card-head {
  padding-left: 17px;
  padding-top: 10px
}  

.form-group {
  margin: 0
}

.card-title {
  margin-bottom: 21px
}

.card {
  height: 100%
}

.col-boot {
  padding-bottom: 18px;
  padding-left: 26px
}

.col-boot .card {
  border-radius: 16px
}

@media (min-width:992px) {
  .col-custom .col-lg-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 20%
  }
}

.bg-produk {
  background: #F8F8F8
}

.testimonial-item h5 {
  color: #919191 !important
}

.testimonial-item span {
  color: #919191 !important
}

.testimonial-item p {
  color: #5E5D5D !important;
  font-size: 22px;
  text-align: center;
  font: italic normal normal 22px/33px Poppins;
  letter-spacing: 0;
  color: #5E5D5D;
  opacity: 1
}

html,
body {
  max-width: 100%;
  overflow-x: hidden
}

.page-footer .footer-title::before {
  background: #2196f300 !important
}

.page-footer .footer-title {
  margin-bottom: 16px !important
}
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .input-group-text {
    margin-right: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #ff7601;
    border: 1px solid #ff7601;
    border-radius: .25rem;
}


.input-group-text i {
  padding:5px;
  color:#FFF!important;
} 

  .input-group-text .form-control {
    padding: 12px;
  }

  .btn_remove {
    background: transparent;
    padding: 0px;
    padding: p;
    cursor: pointer;
    border: none!important;
  }

  .table-resi tr , td {
     padding:12px!important;
  }

  .card-resi > .card-body {
    padding-top: 21px!important;
  }

  .awb-result .res-detail .detail-title {
      color: #ff7601!important;
      font-weight: 600;
      text-align: left;
      margin-bottom: 15px;
      font-size: 14px;
  }

  .track-awb-card {
  border-left: 4px solid #ff7601;
  }

  .history-awb-timeline > li:before { 
      background: #ff7601!important; 
  }

  .card-resi h5 {
     font-size: 14px;
  }

  .card-resi p {
      color: #5E5D5D;
      font-size: 13px;
  }


  .section-padding {
    padding: 0px!important;
}

.title-testimoni h3 {
  font-size:25px;
}

.title-testimoni p {
  font-size:13px!important;
}

.dex-wrap p {
  height:52px;
  overflow: hidden; 
  margin-top:19px!important;
  margin: 0px;
}

#top-produc {
  padding-bottom:18px;
}

.box-video {
  padding-top: 21px;;
}

.sec-video > h1 {
  margin-top:66px;
  color:#FFF!important;
}

.sec-video > h4 {
  color:#FFF!important;
}

.sec-video > p {
  color:#DDDFFF!important;
}

.sec-video iframe {
  border:none!important;
  box-shadow: 0px 8px 9px -6px #000;
  height:43vh;
  border-radius:21px!important;
  margin-top:21px;
}

.section-title {
  color: #919191!important;
}

.bg-iss {
  background-color: #ff7601!important;
}


.col-boot .card {
  border: 2px solid #012b7f;
  border-radius: 16px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.fa-5x {
  font-size: 10em!important;
}

.fa-stack-2x {
  font-size: 2em;
  color: #f5f6f6;
}

.text-falco {
  color: #ff7601!important;
}


.pik h6{ 
  margin: 0px;
  font-size: 18px;
  color: #FFF;
}


@media (min-width: 768px){
  .col-md-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 4 0 16.666667%;
      max-width: 105%;
  }
}

@media (min-width: 992px){
.container-xs {
  max-width: 1017px;
  padding-right: 30px;
}

}

.about-single { 
  margin-top: 21px;
}


.hvoverlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: orange;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  opacity: 0.9;
}

.hvcontainer {
  position: relative;
  width: 100%;
  height: 222px;
}
/* 
.navbar li.active a.nav-link {
  color: #FFF;
} */

.klien  {
  background-color: #fff;
  margin-right: 12px;
  padding: 21px;
  transition: 0.1s;
}


.klien:hover  {
  background-color: #012b7f;
  transition: 0.2s ease-in;

}

.text-center {
  text-align:center!important;
}

.section-title {
  text-align: center!important;
  margin-bottom: 0px!important;
  color: #919191!important;
}


@media (max-width: 3440px){
 
  .margin-full-top {
    margin-top: -172px;
  }

  .header_bg_top_mob {
    display:none;
  }

} 

.fa-li-success {
  margin-right: 42px;
  background: #064a01;
  color: #FFF;
  margin-left: -6px;
  border-radius: 95%;
  position: absolute;
  left: -28px;
  width: 26px!important;
  top: 0.14285714em;
  text-align: center;
}

.fa-li-danger {
  margin-right: 42px;
  background: #e00e0e;
  color: #FFF;
  margin-left: -6px;
  border-radius: 95%;
  position: absolute;
  left: -28px;
  width: 26px!important;
  top: 0.14285714em;
  text-align: center;
}

.btn-bilingdak {
  background:#ff7f00!important;
  color:#FFF!important;
}

  .carousel-item {
    background: #fcfcfc;
  } 

  #main-slide .carousel-item img { 
      object-fit: contain; 
  }
  .pik {
    padding-top: 5px;
  }
/*   
@media (max-width 1920px){

     .carousel-item img {
        position: relative;
        width: 100%;
        height: 100%; 
        max-height: 70vh!important;
        object-fit: cover!important;
    }

    #main-slide .carousel-item img { 
          object-fit: cover!important;
      }

      
    .margin-full-top {
      margin-top: -172px;
    }

    .img-fit {
      object-fit: cover!important; 
    }

    .header_bg_top_mob {
      display:none;
    }

} */



@media (max-width: 1440px){
  .fluid-res {
    padding-right: 70px;
    padding-left: 70px;
  } 
  .header_bg_top_mob {
    display:none!important;
  }

  .margin-full-top {
    margin-top: -172px;
  }
   
}

@media (max-width: 1341px){
  .fluid-res {
    padding-right: 43px;
    padding-left: 43px;
  } 
  .header_bg_top_mob {
    display:none;
  }

  .margin-full-top {
    margin-top: -172px;
  }
   
}

@media (max-width: 1024px){
  .fluid-res {
    margin-right: 21px;
    margin-left: 21px;
  } 
  .header_bg_top_mob {
    display:none;
  }

  .margin-full-top {
    margin-top: -172px;
  }

   
}

@media (max-width: 768px){
  .col-half-offset {
      margin-left: 0px!important;
  }
  .fluid-res {
    margin-right: 21px;
    margin-left: 21px;
  } 
  .header_bg_top_mob {
    display:none!important;
  }

  .margin-full-top {
    margin-top: -113px;
  }

   
}

@media (max-width: 425px){

  .col-half-offset {
      margin-left: 0px!important;
  }

  .fluid-res {
    margin-right: 0px;
    margin-left: -3px;
  } 

  .margin-full-top {
    margin-top: -113px;
  }

}

@media (max-width: 768px){

  .col-half-offset {
      margin-left: 0px!important;
  }

  .fluid-res {
    margin-right: 0px;
    margin-left: -3px;
  }
  .testimonial-item .datils p {
      line-height: 21px;
      color: #868e96;
  } 

  .pik > .fa { 
      left: -16px!important;
  }

  .col-boot {
    padding:3px!important;
  }

  .btn {
        border-radius: 0px;
        font-size: 11px!important;
    }

    .slicknav_menu .slicknav_icon-bar { 
      background: #ff7601!important; 
      }

      .slicknav_nav a:hover, .slicknav_nav .active {
        color: #faa356!important;
    }

    .navbar-brand {
        position: absolute;
        padding: 0px 15px;
        top: 6px;
    }

    .margin-full-top {
      margin-top: -113px;
    }

}

@media (max-width: 320px){

  .col-half-offset {
      margin-left: 0px!important;
  }

  .subtitle {
      margin-bottom: 0px;
      font-size: 16px;
  }

  .section-title {
      text-align: center!important;
      margin-bottom: 4px!important;
      color: #919191!important;
  }

  .fluid-res {
    margin-right: 0px;
    margin-left: 0px;
    padding: 16px;
  }
 
  .xsection h1 { 
      font-size:20px;
  }
  .about-single {
      text-align: center;
      padding: 2px;
  }
  .xsection p {
      color: #5E5D5D;
      font-size: 14px;
      line-height: 18px;
  }
  .sec-video > h1 {
      margin-top: 28px;
      color: #FFF!important;
  }
  .dex-wrap p {
      height: 52px;
      line-height: 17px;
      overflow: hidden;
      margin-top: 19px!important;
      margin: 0px;
  }
  .klien {
      background-color: #fff;
      margin-right: 12px;
      padding: 14px!important;
      transition: 0.1s;
  }

  .mb-3x {
      margin-left: -33px;
      margin-bottom: 1rem!important;
  }

  .col-custom {  
    padding: 19px!important;
  }

  .header_bg_top_mob {
      display: block!important;
      background-color: #FFF; 
      color: #888;
      position: fixed;
      z-index: 99999999;
      width: 100%;  
      bottom: 0;
      -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
  } 

  .btn {
      border-radius: 0px;
      font-size: 11px!important;
  }
 
    .navbar-brand {
      position: absolute;
      padding: 0px 15px;
      top: 6px;
  }
 
    .pik { 
      margin-bottom: 11px;
    }

    .slicknav_btn {
      border: 1px solid #DDD!important;
    }

    .Material-about-section p {
        line-height: 20px;
        color: #5E5D5D;
    }

    .margin-full-top {
      margin-top: -113px;
    }

}
 
/*** END RESPONSIVE ***/
#excellence {
  padding-top: 21px;
}

.slicknav_nav a {
    font-weight: bold;
    padding: 5px 10px;
    margin: 2px 5px;
    text-decoration: none;
    color: #666;
}

.text-left {
  text-align:left!important;
}

.about-singlex {
  margin-top:13px;
}

/* .dex-wrap {
  background-color:red;
} */

@media only screen and (max-width: 767px){
  .header_bg_top_mob {
      display: block!important;
      background-color: #FFF; 
      color: #888;
      position: fixed;
      z-index: 99999999;
       width: 100%;  
      bottom: 0;
      -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
  } 
}


@media only screen and (max-width: 375px){
  .navbar-brand {
      position: absolute;
      padding: 0px 15px;
      top: 6px;
  }
} 

.table-bot { 
  margin-bottom: 0px;
}

.table-bot tr , td {
  cursor:pointer;
  border:2px solid #DDD;
}

.table-bot tr , td:hover {
  cursor:pointer;
  border:2px solid orange;
}

.table-bot a {
  color:orange;
}

.soc-title img {
  float:left;
  padding-left: 21px;
} 
.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.owl-prev {
  left: -1rem;
}

.owl-next {
  right: -1rem;
}

.section-title:before { 
  background-color: transparent !important;
}
 
.col-half-offset{
  margin-left:2.166667%;
}
 

.img-client { 
    filter: grayscale(100%);
}

.img-client:hover { 
    animation: 0.6 ease-in;
    filter: none!important;
}

.btn-margtop {
  margin:0px;
  margin-right:5px!important;
}


@media  screen and (max-width: 6920px) {
  .navbar-brand img {
      width: 217px;
  }
  .mb-baner {
      margin-top: 7rem!important;
  }
  .tit-foot {
    font-size: 2rem;
  }
  .text-bilingdak h1 {
      font-size: 30px;
  }
} 
 

/**------------------- RESPONSIVE AREA ---------------**/

 
@media  screen and (max-width: 1920px) {
  .navbar-brand img {
      width: 217px;
  }
  .mb-baner {
      margin-top: 4rem!important;
  }
  .tit-foot {
    font-size: 2rem;
  }
  .text-bilingdak h1 {
      font-size: 30px;
  }
  .form-pad-top {
    padding: 45px !important;
  }
  .foot-bot-top {
    margin-top: -11%;
  } 
  .row-biling-dak {
    padding:3px;
  }
  .form-register-dpd .fa {
    position: relative;
    top: 3px;
  }
  
  .wrap-login { 
    margin-top: -8%;
  }
} 
  
@media  screen and (max-width: 1440px) {
  .navbar-brand img {
      width: 217px;
  }
  .mb-baner {
      margin-top: 4rem!important;
  }
  .tit-foot {
    font-size: 2rem;
  }
  .text-bilingdak h1 {
      font-size: 30px;
  }

  .form-pad-top {
    padding: 45px !important;
  }

  .foot-bot-top {
    margin-top: -13%;
  } 
  .row-biling-dak {
    padding:3px;
  }
  .form-register-dpd .fa {
    position: relative;
    top: 3px;
  }
  .wrap-login { 
    margin-top: -8%;
  }
  .product h5{ 
    font-size: 16px;
    margin:1px!important;
  }
} 


@media  screen and (max-width: 1024px) {
  .navbar-brand img {
      width: 217px;
  }
  .mb-baner {
      margin-top: 4rem!important;
  }
  .tit-foot {
    font-size: 2rem;
  }
  .text-bilingdak h1 {
      font-size: 30px;
  }
  .form-pad-top {
    padding: 45px !important;
  }
  .foot-bot-top {
    margin-top: -18%;
  } 
  .row-biling-dak {
    padding:3px;
  }
  .form-register-dpd .fa {
    position: relative;
    top: 3px;
  }
} 
  

@media only screen and (max-width: 768px){
  .header_bg_top_mob {
      display: block!important;
      background-color: #FFF; 
      color: #888;
      position: fixed;
      z-index: 99999999;
       width: 100%;  
      bottom: 0;
      -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
  } 
  .mb-baner {
      margin-top: 19px!important;
  }
  .tit-foot {
    font-size: 2rem;
  }
  .text-bilingdak h1 {
      font-size: 30px;
  }
  .foot-bot-top {
      margin-top: -18%;
  }
  .row-biling-dak {
    padding:3px;
  }
  .form-register-dpd .fa {
    position: relative;
    top: 6px;
  }

  .footer-copyright {
    padding-top: 15px;
  }
} 


@media only screen and (max-width: 768px){
  .navbar-brand {
      position: absolute;
      padding: 0px 15px;
      top: 19px;
  }
  .navbar-brand img {
      width: 146px;
  }
  .tit-foot {
    font-size: 1rem;
  }
  .text-bilingdak h1 {
      font-size: 22px;
  }
  .foot-bot-top {
      margin-top: -18%;
  }
  .row-biling-dak {
    padding:3px;
  }
  .form-register-dpd .fa {
    position: relative;
    top: 6px;
  }

  .footer-copyright {
    padding-top: 15px;
  }
}


@media only screen and (max-width: 425px){
  .navbar-brand {
      position: absolute;
      padding: 0px 15px;
      top: 17px;
  }
  .navbar-brand img {
      width: 146px;
  }
  .tit-foot {
    font-size: 2rem;
  }
  .text-bilingdak h1 {
      font-size: 18px;
  }
  .wrap-login p {
    line-height: 14px;
    font-size: 11px;
  }
  .form-register-dpd .fa {
    position: relative;
    top: 6px;
  }
  .navbar-brand img { 
      position: relative;
      top: 2px;
  }
  .foot-bot-top {
      margin-top: -76px;
  }
  .row-biling-dak {
    padding:0px;
  }
  .wrap-login {
    margin-top: 0%!important;
  }
  p {
    font-size: 12px;
    line-height: 19px;
  }

  .footer-copyright {
    padding-top: 15px;
  }
}
 


@media only screen and (max-width: 375px){
  .navbar-brand {
      position: absolute;
      padding: 0px 15px;
      top: 17px;
  }
  .navbar-brand img {
      width: 146px;
  }
  .tit-foot {
    font-size: 2rem;
  }
  .text-bilingdak h1 {
      font-size: 18px;
  }
  .wrap-login p {
    line-height: 14px;
    font-size: 11px;
  }
  .form-register-dpd .fa {
    position: relative;
    top: 6px;
  }
  .navbar-brand img { 
      position: relative;
      top: 2px;
  }
  .title-v1 h2 {
      font-size: 16px;
  }
  .Material-about-section p {
      line-height: 20px;
      color: #5E5D5D;
      font-size: 11px;
  }
  .pricing .card-price {
      font-size: 30px;
      margin: 0;
  }
  .foot-bot-top {
      margin-top: -76px;
  }
  .row-biling-dak {
    padding:0px;
  }
  .wrap-login {
    margin-top: 0%!important;
  }
  p {
    font-size: 12px;
    line-height: 19px;
  }

  .footer-copyright {
    padding-top: 15px;
  }

  .wrap-pertanyaan h5 {
      font-size: 13px;
      margin: 0px;
  }
  
}


@media only screen and (max-width: 320px){
  .navbar-brand {
      position: absolute;
      padding: 0px 15px;
      top: 17px;
  }
  .navbar-brand img {
      width: 146px;
  }
  .tit-foot {
    font-size: 2rem;
  }
  .text-bilingdak h1 {
      font-size: 18px;
  }
  .wrap-login p {
    line-height: 14px;
    font-size: 11px;
  }
  .form-register-dpd .fa {
    position: relative;
    top: 6px;
  }
  .navbar-brand img { 
      position: relative;
      top: 4px;
  }
  .title-v1 h2 {
      font-size: 16px;
  }
  .Material-about-section p {
      line-height: 16px;
      color: #5E5D5D;
      font-size: 11px;
  }
  .pricing .card-price {
      font-size: 30px;
      margin: 0;
  }
  .foot-bot-top {
      margin-top: -76px;
  }
  .row-biling-dak {
    padding:0px;
  }
  .wrap-login {
    margin-top: 0%!important;
  }
  p {
    font-size: 12px;
    line-height: 19px;
  }
  .wrap-pertanyaan h5 {
    font-size: 13px;
    margin: 0px;
  }

  .footer-copyright {
    padding-top: 15px;
  }

  .product h5 {
      font-size: 12px;
      margin: 1px!important;
  }

  .med-br-content .btn {
    font-size: 8px!important;
    margin: 0px!important;
  }

}


.med-br-img-lg img {
  max-width: 140px;
}


.med-br-img-lg {
  margin: 10px 17px;
}

.gray-img {
  -webkit-filter: grayscale(1)!important;
}

.box-shadows { 
  box-shadow: 0 10px 21px -84px rgba(0,0,0,0.14), 0 9px 36px -14px rgba(0,0,0,0.12), 0 8px 15px -12px rgba(0,0,0,0.20)!important;
}

.form-register-dpd .icon {
  background: #f8f8f8!important;
}

.repert { 
  position: revert!important;
}

.wrap-relative { 
  position: relative; 
}

.slim {
margin:4px;
}

.card-title-lg {  
color: #4e4c4c!important;
font-weight: bold;
margin:3px;
}

strong {
text-align:center;
color:#444;
font-family:'Open Sans',sans-serif;
line-height:normal;
font-size:14px;
}


.panel-title {
text-align: left;
width: 100%;
position: relative;
}

.panel-title::after {
content: "\f107";
color: #333;
top: 0px;
right: 0px;
font-size:23px;
position: absolute;
font-family: "FontAwesome"
}

.panel-title[aria-expanded="true"]::after {
content: "\f106";
}
 
.panel-heading-full.panel-heading {
padding: 0;
}

.panel-heading-full .panel-title {
padding: 10px 15px;
}

.panel-heading-full .panel-title::after {
top: 10px;
right: 15px;
}

.bg-ligtgray {
  background: #f6f7fb!important;
}


.accordion .card {
  border:0px!important;
}

.collapse-gray {
  background: #e9ebf1;
  margin-bottom: 6px;
}

.card-header {
  padding: .75rem 1.25rem;
  color: #064a01;
  margin-bottom: 0; 
  border-bottom: 2px solid #064a01!important;
}

.card-header .btn-link {
  text-decoration: none!important;
  color: #064a01!important; 
}

.card-header h5 {
  color:#064a01!important;
}